[submodule "plugins/core/Standard/qPoissonRecon/PoissonReconLib"]
	path = plugins/core/Standard/qPoissonRecon/PoissonReconLib
	url = https://github.com/cloudcompare/PoissonRecon
[submodule "plugins/core/IO/qE57IO/extern/libE57Format"]
path = plugins/core/IO/qE57IO/extern/libE57Format
url = https://github.com/asmaloney/libE57Format
