[submodule "plugins/core/qPoissonRecon/PoissonReconLib"]
	path = plugins/core/qPoissonRecon/PoissonReconLib
	url = https://github.com/cloudcompare/PoissonRecon
[submodule "contrib/libE57Format"]
	path = contrib/libE57Format
	url = https://github.com/asmaloney/libE57Format
