[Desktop Entry]
Type=Application
Name=CloudCompare Viewer
Comment=3D point cloud and mesh processing software
Exec=/app/bin/ccViewer
Categories=Graphics;
Icon=net.danielgm.CloudCompare.Viewer