[Desktop Entry]
Type=Application
Name=CloudCompare
Comment=3D point cloud and mesh processing software
Exec=/app/bin/CloudCompare
Categories=Graphics;
Icon=net.danielgm.CloudCompare