name: Build

on: workflow_dispatch

jobs:
  build:
    name: Windows MSVC
    runs-on: windows-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0

      # DGM: without caching, using conda on Windows takes a long time...
      - name: Install Dependencies
        uses: conda-incubator/setup-miniconda@v3
        with:
          architecture: x64
          auto-activate: false
          activate-environment: CloudCompareDev
          environment-file: .ci/conda-win.yml
          channels: conda-forge
          conda-remove-defaults: "true"

      - name: Configure MSVC console (Windows)
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set environment for MSVC (Windows)
        run: |
          # Set these env vars so cmake picks the correct compiler
          # https://docs.github.com/en/free-pro-team@latest/actions/reference/workflow-commands-for-github-actions#environment-files
          echo "CXX=cl.exe" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          echo "CC=cl.exe" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

      - name: Configure CMake
        shell: bash -l {0}
        run: |
          mkdir build

          export CONDA_LIB_DIR="$CONDA_PREFIX/Library"
          export EIGEN_ROOT_DIR="$CONDA_LIB_DIR/include/eigen3"

          cmake \
            -B build \
            -G "Ninja" \
            -DCMAKE_BUILD_TYPE=Release \
            -DCMAKE_PREFIX_PATH="$CONDA_LIB_DIR" \
            -DCMAKE_INSTALL_PREFIX="${{ github.workspace }}/install" \
            -DEIGEN_ROOT_DIR="$EIGEN_ROOT_DIR" \
            -DPLUGIN_EXAMPLE_GL=ON \
            -DPLUGIN_EXAMPLE_IO=ON \
            -DPLUGIN_EXAMPLE_STANDARD=ON \
            -DPLUGIN_FFD_STANDARD=ON \
            -DPLUGIN_GL_QEDL=ON \
            -DPLUGIN_GL_QSSAO=ON \
            -DPLUGIN_IO_QADDITIONAL=ON \
            -DPLUGIN_IO_QCORE=ON \
            -DPLUGIN_IO_QE57=ON \
            -DPLUGIN_IO_QPHOTOSCAN=ON \
            -DPLUGIN_IO_QLAS=ON \
            -DPLUGIN_IO_QRDB=ON  \
            -DPLUGIN_IO_QRDB_FETCH_DEPENDENCY=ON  \
            -DPLUGIN_IO_QRDB_INSTALL_DEPENDENCY=ON  \
            -DPLUGIN_STANDARD_QANIMATION=ON \
            -DQANIMATION_WITH_FFMPEG_SUPPORT=ON \
            -DPLUGIN_STANDARD_QBROOM=ON \
            -DPLUGIN_STANDARD_QCANUPO=ON \
            -DPLUGIN_STANDARD_QCOMPASS=ON \
            -DPLUGIN_STANDARD_QCSF=ON \
            -DPLUGIN_STANDARD_QFACETS=ON \
            -DPLUGIN_STANDARD_QHOUGH_NORMALS=ON \
            -DPLUGIN_STANDARD_QHPR=ON \
            -DPLUGIN_STANDARD_QM3C2=ON \
            -DPLUGIN_STANDARD_QPCV=ON \
            -DPLUGIN_STANDARD_QPOISSON_RECON=OFF \
            -DPLUGIN_STANDARD_QSRA=ON \
            -DPLUGIN_STANDARD_QRANSAC_SD=ON \
            -DPLUGIN_STANDARD_QPCL=OFF \
            -DPLUGIN_STANDARD_QCLOUDLAYERS=ON \
            -DPLUGIN_STANDARD_QVOXFALL=ON \
            .

      - name: Check Format
        run: cmake --build build --target check-format

      - name: Build
        run: cmake --build build --parallel

      - name: Install (Windows)
        run: cmake --install build

      - name: Upload Artifact (Windows)
        uses: actions/upload-artifact@v4
        with:
          name: CloudCompare-Windows
          path: ${{ github.workspace }}/install
